h1{ color: rgb(40, 24, 54); font-family: sans-serif; text-shadow: black;}
h3{color:rgb(40, 24, 54);font-family: cursive;}
h4{color:rgb(40, 24, 54) ;font-family: cursive;}
h6{color: rgb(40, 24, 54); font-family: sans-serif;}
#naranja {border: solid gray; border-radius: 15px; border-style: dotted; width: 300px;height: 300px;}